body {
  padding-top: 70px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar label{
    color: silver;
}

footer {
    margin: 50px 0;

}

#grep_color{
  color: red;
}

.nav-update{
  color: silver;
  font: bold 15px "Courier New", Courier, monospace;
}

.nav-status{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.file_div_btn{
  border: 1px dotted black;
}

ul.show-logs {
  list-style-type: none;
}